# Copyright 2020 Dell Boomi. All rights reserved.

{% set project = env["project"] %}
{% set deployment = env["deployment"] %}
{% set region = properties["region"] %}
{% set bucketname = properties["bucketname"] %}


resources:
- name: {{ deployment }}-cloudbuild
  type: gcp-types/cloudbuild-v1:cloudbuild.projects.builds.create     
  properties:
    timeout: 120s
    steps:   
    - id: git_clone
      name: 'gcr.io/cloud-builders/git'
      args:
      - clone
      - 'https://github.com/MishalYadav/gcp-linux-atom-quickstart.git'
      - quick_start    
    
    
    - id: create_zip
      name: 'gcr.io/cloud-builders/gsutil'
      entrypoint: 'bash'
      args:
        - -c
        - zip License_validation.zip main.py requirements.txt
      dir: quick_start/scripts
      waitFor: [git_clone]
    
    - id: copy_to_bucket
      name: 'gcr.io/cloud-builders/gsutil'
      entrypoint: 'gsutil'
      args: ['cp', 'quick_start/scripts/License_validation.zip', 'gs://{{ bucketname }}']
      waitFor: [create_zip]
    timeout: 600s
